In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from random import uniform, randint

In [6]:
day = pd.Series(['monday', 'tuesday', 'wednesday', 'thursday', 'friday'])
meal = pd.Series(['lunch', 'dinner', 'lunch', 'dinner', 'lunch'])
budget = pd.Series(['${:0.2f}'.format(uniform(8,25)) for i in range(5)])
mac_nut = pd.Series(['fiber', 'protein', 'fiber', 'protein', 'fats'])
food = pd.Series(['sandwich', 'tacos', 'salad', 'stir-fry', 'pizza'])
prep_time = pd.Series([randint(12, 30) for i in range(5)])

In [7]:
meal_schedule = pd.DataFrame()

meal_schedule['day'] = day
meal_schedule['meal'] = meal
meal_schedule['mac_nut'] = mac_nut
meal_schedule['budget'] = budget
meal_schedule['food_type'] = food
meal_schedule['prep_time'] = prep_time

meal_schedule

         day    meal  mac_nut  budget food_type  prep_time
0     monday   lunch    fiber  $14.19  sandwich         28
1    tuesday  dinner  protein  $16.93     tacos         23
2  wednesday   lunch    fiber  $13.85     salad         20
3   thursday  dinner  protein   $8.32  stir-fry         22
4     friday   lunch     fats  $19.17     pizza         26

In [13]:
meal_schedule.head(2)

       day    meal  mac_nut  budget food_type  prep_time
0   monday   lunch    fiber  $14.19  sandwich         28
1  tuesday  dinner  protein  $16.93     tacos         23

In [14]:
meal_schedule.describe(include='all')

             day   meal  mac_nut  budget food_type  prep_time
count          5      5        5       5         5   5.000000
unique         5      2        3       5         5        NaN
top     thursday  lunch  protein  $14.19     salad        NaN
freq           1      3        2       1         1        NaN
mean         NaN    NaN      NaN     NaN       NaN  23.800000
std          NaN    NaN      NaN     NaN       NaN   3.193744
min          NaN    NaN      NaN     NaN       NaN  20.000000
25%          NaN    NaN      NaN     NaN       NaN  22.000000
50%          NaN    NaN      NaN     NaN       NaN  23.000000
75%          NaN    NaN      NaN     NaN       NaN  26.000000
max          NaN    NaN      NaN     NaN       NaN  28.000000